<div class="container">

  <% @pictures.each do |picture| %>
    <div class="card mt-5">
      <div class="card-body" >
        <%= picture.user.name %> <%= picture.category %>
        <br>
        <%= picture.content %>
        <br>
        <%= image_tag picture.image.url if picture.image? %>
      </div>
      <div class="card-footer text-right" >
        <%= link_to '詳細', picture_path(picture.id) %>
        <% if picture.user == current_user %>
          <%= link_to '編集', edit_picture_path(picture.id) %>
          <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <%= picture.updated_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  <% end %>

  <br>
  <%= link_to '新規投稿', new_picture_path %>
  <%= link_to 'マイページ', user_path(current_user.id) %>

</div>