<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @picture.user_name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @picture.genre %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @picture.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
