<div class="container">

  <div class="card card-body mt-5">
    <p>
      <strong>ジャンル</strong>
      <%= @picture.genre %>
    </p>

    <p>
      <strong>内容</strong>
      <%= @picture.content %>
    </p>

    <p>
      <strong>画像</strong>
      <%= @picture.image %>
    </p>

    <p>
      <strong>ユーザー名</strong>
      <%= @picture.user.name %>
    </p>
  </div>

  <br>
  <%= link_to '戻る',pictures_path %>

  <% if @picture.user == current_user %>
    <%= link_to '編集', edit_picture_path(@picture) %>
  <% else %>
    <td></td>
  <% end %>
  
</div>




