<div class="container">

  <div class="card card-body mt-5">
    <%= @picture.genre %>
    <br>
    <%= @picture.content %>
    <br>
    <%= image_tag @picture.image.url if @picture.image? %>
  </div>

  <br>
  <%= link_to '戻る',pictures_path %>

  <% if @picture.user == current_user %>
    <%= link_to '編集', edit_picture_path(@picture) %>
  <% else %>
    <td></td>
  <% end %>

</div>




